:root {
  /* Your default theme */
  --background: #f6f4e6;
  --foreground: #000;

  --primary: #f1ca06;
}

[data-theme="dark"] {
  --background: rgb(56, 56, 56);
  --foreground: #f6f4e6;

  --primary: #fddb3a;
}

body {
  background-color: var(--background);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav {
  margin-bottom: 4rem;

  .menu {
    text-align: center;
    margin-bottom: 1.5rem;

    a {
      color: var(--foreground);
      text-decoration: none;
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: 500;
      display: inline-block;
      width: 120px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      margin-top: 0.75em;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

main {
  text-align: center;
}
