:root {
  /* Your default theme */
  --background: #f5f5f5;
  --foreground: #27272a;
  --primary: #84cc16;
}

[data-theme="dark"] {
  --background: #27272a;
  --foreground: #f6f4e6;
  --primary: #84cc16;
}

body {
  background-color: var(--background);
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav {
  margin-bottom: 4rem;

  .menu {
    margin-bottom: 1.5rem;
    text-align: center;

    a {
      color: var(--foreground);
      display: inline-block;
      font-size: 1.2em;
      font-weight: 500;
      margin-top: 0.75em;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      width: 120px;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

main {
  text-align: center;
}
